<nav>
    <div class="menu">

        <ul>
            <li class="link"> <a href="#">Category</a>
                <ul class="submenu">
                    <li><a href="#">World</a></li>
                    <li><a href="#">India</a></li>
                    <li><a href="#">Sports</a></li>
                    <li><a href="#">Technology</a></li>
                    <li><a href="#">Miscellaneous</a></li>
                </ul>
            </li>
            <li class="link"><a href="/news/write">Create</a></li>
            <li class="logo"><a href="/news/home"><img src="/static/img/home_icon.png" alt="Home"></a></li>
            <li class="link"><a href="/news/about/23453">Me</a></li>
            <li class="link"><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>