<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/headlinks') %>  
    
    <link rel="stylesheet" href="/static/css/articles.css">
</head>
<body>

    <%- include('./partials/navbar') %> 

    <main>

        <h4 class="category">World</h4>
        <h3 class="topic">Taliban Retreat</h3>
    
        <a href="/news/about/73839"><p class="author">By Ishan</p></a>
        <p class="date">28/08/2021</p>
    
        <p class="desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, inventore?

        </p>
    
    
    </main>
    
</body>
</html>