<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/headlinks') %>  
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <%- include('./partials/navbar') %> 

    <h1 class="heading">Top Headlines :-</h1>
    
    <main>

    
        <a href="/news/view/12345">
            <div class="blogs">
                <p class="category">Category</p>
                <h3 class="topic">Heading</h3>
                <p class="date">28/08/2021</p>
                <p class="body">
                     consectetur adipisicing elit. Quibusdam optio facilis ... <span><b>Read more...</b></span>
                </p>
            </div>
        </a>
        <a href="/news/view/12345">
            <div class="blogs">
                <p class="category">Category</p>
                <h3 class="topic">Heading</h3>
                <p class="date">28/08/2021</p>
                <p class="body">
                     consectetur adipisicing elit. Quibusdam optio facilis ... <span><b>Read more...</b></span>
                </p>
            </div>
        </a>
        <a href="/news/view/12345">
            <div class="blogs">
                <p class="category">Category</p>
                <h3 class="topic">Heading</h3>
                <p class="date">28/08/2021</p>
                <p class="body">
                     consectetur adipisicing elit. Quibusdam optio facilis ... <span><b>Read more...</b></span>
                </p>
            </div>
        </a>
        <a href="/news/view/12345">
            <div class="blogs">
                <p class="category">Category</p>
                <h3 class="topic">Heading</h3>
                <p class="date">28/08/2021</p>
                <p class="body">
                     consectetur adipisicing elit. Quibusdam optio facilis ... <span><b>Read more...</b></span>
                </p>
            </div>
        </a>
        <a href="/news/view/12345">
            <div class="blogs">
                <p class="category">Category</p>
                <!-- <h3 class="topic">Heading</h3> -->
                <p class="date">28/08/2021</p>
                <p class="body">
                     consectetur adipisicing elit. Quibusdam optio facilis ... <span><b>Read more...</b></span>
                </p>
            </div>
        </a>
    
       
    
    </main>
    
</body>
</html>