<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/form.css">
    <%- include('./partials/headlinks') %>  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    
    <main>
        <%- include('./partials/messages') %> 

        <img src="/static/img/user.png" alt="Img" class="profile">
        
        <div class="form">
            <h1>Login</h1>

            <form action="/login" method="post" autocomplete="off">
                <div class="inputs">
                    <input type="text" name="username" id="name" placeholder="Enter username" required autocomplete="off">
                </div>
                <div class="inputs">
                    <input type="password" name="password" id="password" placeholder="Enter Password" required autocomplete="off"> 
                </div>
                <div class="inputs">
                    <input type="submit" value="submit" class="btn">
                </div>
            </form>

            <p class="redirect">Didn't Login <a href="/register">Register Here</a></p>
        </div>
    </main>


</body>
</html>