<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/form.css">
    <%- include('./partials/headlinks') %>  
</head>
<body>
    
    <main>

        <img src="/static/img/user.png" alt="Img" class="profile">
        
        <div class="form">
            <h1>Register</h1>

            <form action="/register" method="post" autocomplete="off">
                <div class="inputs">
                    <input type="text" name="uname" id="name" placeholder="Set a Username" required>
                </div>

                <div class="inputs">
                    <input type="text" name="full_name" id="name" placeholder="Enter your Full Name" required>
                </div>

                <div class="inputs">
                    <input type="password" name="password1" id="password" placeholder="Enter Password" required>
                </div>

                <div class="inputs">
                    <input type="password" name="password2" id="password" placeholder="Re- Enter Password" required>
                </div>

                <div class="inputs">
                    <input type="submit" value="submit" class="btn">
                </div>
            </form>

            <p class="redirect">Already Registered ? <a href="/login">Login</a></p>
        </div>
    </main>


</body>
</html>