<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/form.css">
    <%- include('./partials/headlinks') %> 

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>

    <style>
        .form{
            width: 800px !important;
        }
    </style>
</head>
<body>
    <%- include('./partials/navbar') %> 
    <main>
        
        <br><br><br>
        <div class="form" id="form123">
            <h1>Write your news</h1>

            <form action="#" method="post" autocomplete="off">
                
                <div class="inputs">
                    <select name="category" id="category">
                        <option value="world">World</option>
                        <option value="india">India</option>
                        <option value="sports">Sports</option>
                        <option value="tech">Technology</option>
                        <option value="miscellaneous">Miscellaneous</option>
                    </select>
                </div>

                <div class="inputs">
                    <input type="text" name="title" id="topic" placeholder="News Headlines" required autocomplete="off">
                </div>

                <textarea name="body" id="mytextarea" cols="30" rows="30" placeholder="Start here..."></textarea>
                
                <div class="inputs">
                    <input type="submit" value="submit" class="btn">
                </div>
            </form>

        </div>
    </main>

    <script>
        let form = document.getElementById("form123");
        console.log(form);
        form.style.width  = "500px";
    </script>
</body>
</html>